ul {
  list-style-type: none;
  margin: 10px 0px 0px -10px;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  align-content: start;
  justify-self: start;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
}
