button.pill {
  font-family: "Inter";
  border: none;
  color: black;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--button-text);
  margin: 4px 2px;
  cursor: pointer;
  dislay: flex;
  border-radius: 30px;
}

button.pill:hover {
  opacity: 0.8;
}
