.SectionHolder {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.Section {
  width: 80%;
}

.Section_Header_Text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Section_Header_Description {
  width: 50%;
  font-size: 24px;
  line-height: 1.5;
}

.Section_Text {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 550;
  margin: 0px 0px 0px 0px;
}

section.Product_Info {
  height: 500px;
}

.Info_Page {
  display: flex;
  flex-direction: column;
  width: var(--section-width);
  height: var(--section-height);
  margin: auto;
  position: relative;
  padding: 100px 0px 0px 0px;
}

p.Section_Header_Text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p.paragraph {
  font-size: 20px;
  line-height: 1.5;
}

img.Deck {
  height: 75px;
}

.AnimateDeck {
  animation: slidein linear infinite;
  animation-duration: 30s;
}

.AnimateDeckItem {
  animation: slidein linear infinite reverse;
  animation-duration: 10s;
  /* animation: fadein 1.5s; */
}
.AnimateDeckFade {
  animation: fadein 1.5s;
}

@keyframes slidein {
  from {
    translate: -200px;
  }

  to {
    translate: 0px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  border-bottom: 1px solid black;
}

.brand-wheel {
  flex-direction: row;
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 100px;

  --animationspeed: 45s;
  --animationdelay: calc(var(--animationspeed) / 2);
}

.brand-wheel::before {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 5%;
  z-index: 2;
  pointer-events: none;
}
.brand-wheel::after {
  position: absolute;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 5%;
  z-index: 2;
  pointer-events: none;
  right: 0;
}

.brand-slide {
  flex-shrink: 0;
  position: absolute;
  animation-name: slidelogo;
  animation-duration: var(--animationspeed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.brand-slide.delay {
  transform: translateX(100%);
  animation-name: slidelogo;
  animation-delay: var(--animationdelay);
}

.brand-wheel:hover .brand-slide {
  animation-play-state: paused;
}

.logo-div {
  display: inline-flex;
  align-self: center;
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  padding: 0 20px 0 20px;
}

@keyframes slidelogo {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
