@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --section-width: 1250px;
  --section-height: 900px;
  --button-text: 18px;
  --section-color: #ffffff;
  --accent-color: #76b5c5;
  --left-margin: 100px;
  --mobile_padding_vw: 5vw;
  --mobile_padding: 5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Inter",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
  opacity: 0;
  transition: 3s;

  transition-timing-function: ease-out;
}

.show {
  opacity: 1;
}
